@import "tailwindcss";

body {
  font-family: var(--font-primary), sans-serif;
  /* <-- ใช้ฟอนต์ที่นี่ */
}

nav,footer{
  background-color: rgba(118, 178, 90, 1);
}
.buttonact{
  background-color: rgb(97, 155, 71);
}
.mobilenav{
  background-color: rgba(118, 178, 90, 1);
}